<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Workshop datatable</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script>
$(document).ready( function () {
    $('#tblWorkhops').DataTable();
} );
</script>
</head>
<body>
<h2>Workshops</h2>
<table id="tblWorkhops" class="display">
    <thead>
       <tr>
					<th>Nombre</th>
					<th>Autor</th>
					<th>Objetivo</th>
					<th>Palabras claves</th>
					<th>Categoria</th>
					<th>Duración minutos</th>
					<th>Actividades</th>
					<th>Agregar actividad</th>
					<th>Modificar workshop</th>
					<th>Generar word</th>						
				</tr>
    </thead>
    <tbody>
     <tr th:each="workshop : ${workshops}">
					<td th:text="${workshop.nombre}"></td>
					<td th:text="${workshop.autor}"></td>	
					<td th:text="${workshop.objetivo}"></td>	
					<td th:text="${workshop.palabrasClave}"></td>
					<td th:text="${workshop.categoria.nombre}"></td>
					<td th:text="${workshop.tiempoDuracion}"></td>
					<td>
						<ul th:each="act: ${workshop.actividades}">
							<li><span th:text="${act.nombre}"></span> <br>
								<span th:text="${act.descripcion}"></span> <br>
								<span th:text="${act.texto}"></span> <br>
								<span th:text="${act.tiempoDuracion}"></span>
							</li>
						</ul>
					</td>													
					 <td> <a th:href="@{/insertarActividad/{id}(id=${workshop.id})}">Agregar</a></td>
					  <td> <a th:href="@{/modificarWorkshop/{id}(id=${workshop.id})}">Modificar</a></td>
					   <td> <a th:href="@{/generarWord/{id}(id=${workshop.id})}" download>Generar</a></td>
				</tr>
    </tbody>
</table>

</body>
</html>