<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Home</title>
</head>
<body>
	<div>
		<h1>Bienvenido a gestiona tu taller</h1>
		<h2>Lista de opciones</h2>
		<ul>
			<li><a href="/insertarWorkshop">Registrar workshop</a></li>			
			<li><a href="/listarWorkshop">Listar workshop</a></li>
			<li><a href="/listarWorkshopByCategoria">Buscar workshop por categoría</a></li>
			<li><a href="/listarWorkshopByPalabraClave">Buscar workshop por palabra clave</a></li>
			<li><a href="/listarWorkshopByAutor">Buscar workshop por autor</a></li>			
			<li><a href="/insertarCategoria">Registrar categoría</a></li>
			<li><a href="/listarCategoria">Listar categorías</a></li>
		</ul>
	</div>
</body>
</html>